---
title: Top Caffe - Candybar
menu: candybar
galerie:
-  poza: "candybar_1"
-  poza: "candybar_2"
-  poza: "candybar_3"
-  poza: "candybar_4"
---
{% include_relative _sus.html %}
{% include_relative _meniu.html %}

<style type="text/css">
    body { padding-top: 100px; }
</style>



  <div class="container marketing">

    <div class="row">
      {% for element in page.galerie %}
      <div class="col-lg-3 galerie">
        <a href="#" class="pop"><img class="img-rounded" src="imagini/{{element.poza}}_mica.jpg" alt="Candybar"></a>
      </div><!-- /.col-lg-4 -->
      {% endfor %}

    </div><!-- /.row -->

    {% include_relative _jos_firma.html %}

  </div><!-- /.container -->

{% include_relative _jos.html %}
