---
title: Top Caffe - Contact
menu: contact
---
{% include_relative _sus.html %}
{% include_relative _meniu.html %}

<style type="text/css">
    body { padding-top: 70px; }
</style>
    

    <div class="container marketing">
        
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Contact <span class="text-muted">Top Caffe.</span></h2>
          <p class="lead">Strada Republicii, nr. 5, 805300, Tecuci, Galati, Romania.</p>
          <p class="lead">Telefon <a href="tel:0236 406 099">0236 406 099</a> </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="imagini/logo.png" alt="Top Cafe">
        </div>
      </div>


      {% include_relative _jos_firma.html %}

    </div><!-- /.container -->

{% include_relative _jos.html %}
