---
title: Top Caffe
menu: acasa
---
{% include_relative _sus.html %}
{% include_relative _meniu.html %}



{% include_relative acasa_carousel.html %}
   


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="imagini/personalizate.jpg" alt="Torturi Personalizate" width="140" height="140">
          <h2>Torturi Personalizate</h2>
          <p></p>
          <p><a class="btn btn-default" href="torturi_personalizate.html" role="button">Vezi galerie &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="imagini/nunta.jpg" alt="Torturi de Nuntă" width="140" height="140">
          <h2>Torturi de Nuntă</h2>
          <p></p>
          <p><a class="btn btn-default" href="torturi_nunta.html" role="button">Vezi galerie &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="imagini/botez.jpg" alt="Torturi de Botez" width="140" height="140">
          <h2>Torturi de Botez</h2>
          <p></p>
          <p><a class="btn btn-default" href="torturi_botez.html" role="button">Vezi galerie &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      {% include_relative _jos_firma.html %}

    </div><!-- /.container -->
{% include_relative _jos.html %}
