---
title: Top Caffe - Torturi Botez
menu: torturi
galerie:
-  poza: 1
-  poza: 2
-  poza: 3
-  poza: 4
-  poza: 5
---
{% include_relative _sus.html %}
{% include_relative _meniu.html %}

<style type="text/css">
    body { padding-top: 100px; }
</style>



  <div class="container marketing">

    <div class="row">
      {% for element in page.galerie %}
      <div class="col-lg-3 galerie">
        <a href="#" class="pop"><img class="img-rounded" src="imagini/botez/poza_mica_{{element.poza}}.jpg" alt="Torturi Botez"></a>
      </div><!-- /.col-lg-4 -->
      {% endfor %}

    </div><!-- /.row -->

    {% include_relative _jos_firma.html %}

  </div><!-- /.container -->

{% include_relative _jos.html %}
